<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@next"></script>                                                                                                                                                        
    <title>Learning Vue JS</title>
</head>
<body>
   
    <div id='ok' v-if='logging > 5' >
        {{ logging }}
        <p> Sei loggato con successo, complimenti </p>
        <box 
        v-bind:article="data"
        v-for='data in dataToShow'
        
           
        >
   
        </box>
    </div>   
    <div class="ButtonField">
    <h1>{{ nameField  }}</h1>
    <button v-on:click='changeText("dkosdk")'>Schiaccia</button>
    </div>

    <div class="inputShow">
        <h1>To Do List</h1>
        <p v-for='message in messagesToShow'>{{ message.text }}</p>
        <input type='text'><button v-on:click='createNewP'>ADD ITEM</button>
    </div>
    <script src="home.js"></script>
    <script>
    app2.mount('#ok')
    app1.mount('.ButtonField')
    app3.mount('.inputShow')

    </script>
     
</body>
</html>
<!--
    https://v3.vuejs.org/guide/introduction.html#handling-user-input
    
-->