.test{
    background-color: red;
    color: white;
}
.test2{
    .col-xl-6 , .col-2,.col-6{
        background-color: black;
        color: white;
        border:1px solid white;
        padding: 1rem;
        text-align: center;
        
        
    }
    
}