@import "../variables/_color";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');


::placeholder{
    color: $color10;
    
}
html{
    background-color: $color60 !important;
    h1 , h2, h3, h4, h5, h6 {
        font-family: 'Montserrat', sans-serif;
    }
    p {
        font-family: 'Open Sans', sans-serif;
    }

}
.title{
    color: $color30;
    height: 100%;
    
}
.titleHome{
    font-size: 5.0rem;
}
.login{
    width: 59vh;
    height: 40vh;
}
.loginInput{
    border: none;
    color: $color10;
}
.loginButton{
    border: none;
    &:hover{
        background-color: $color30;
        color: $color10;
        border: none;
    }
    background-color: $color10;
    color : $color30;
    font-size: 1.3rem;
  
}

.clickMe{
    background-color: $color30;
    color: $color10;
}
@media only screen and (max-width: 560px) {
    .login{
        width: 85vw;
    }
  }